

.right {
  border: yellow solid 2px;
  height: 20px;
  width: 20px;
  border-radius:120px;
  border-top-color: transparent;
  border-left-color: transparent;
  position: absolute;
  transform: rotate(-45deg);
  animation: rota2 1000ms linear;
  -moz-animation: rota2 1000ms linear;
  -o-animation: rota2 1000ms linear;
  -webkit-animation: rota2 1000ms linear;
}

@keyframes rota2 {
  from{ transform:rotate(-225deg);}
  to { transform: rotate(-45deg);}
}

@-o-keyframes rota2 {
  from{ transform:rotate(-225deg);}
  to { transform: rotate(-45deg);}
}

@-moz-keyframes rota2 {
  from{ transform:rotate(-225deg);}
  to { transform: rotate(-45deg);}
}
@-webkit-keyframes rota2 {
  from{ transform:rotate(-225deg);}
  to { transform: rotate(-45deg);}
}

.left {
  border: yellow solid 2px;
  height: 20px;
  width: 20px;
  border-radius:120px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  transform: rotate(315deg);
  animation: rota 1000ms linear;
  -o-animation: rota 1000ms linear;
  -moz-animation: rota 1000ms linear;
  -webkit-animation: rota 1000ms linear;
}
@keyframes rota {
  from {transform: rotate(-45deg);}
  to { transform: rotate(315deg);}
}
@-o-keyframes rota {
  from {transform: rotate(-45deg);}
  to { transform: rotate(315deg);}
}
@-moz-keyframes rota {
  from {transform: rotate(-45deg);}
  to { transform: rotate(315deg);}
}
@-webkit-keyframes rota {
  from {transform: rotate(-45deg);}
  to { transform: rotate(315deg);}
}
